doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Nurtured Paws
    style.
      body {
          font-family: sans;
          margin: 0;
          background-color: rgba(108, 196, 226, 0.73);
          padding: 0;
      }
      .container {
          max-width: 800px;
          margin: 100px auto;
          padding: 100px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
          text-align: center;
          color: #333;
          margin-top: 0;
      }
      table {
          width: 100%;
          margin: 0;
          border-collapse: collapse;
          border: 1px solid #333;
          background-color: #fff;
      }
      th, td {
          border: 1px solid #333;
          padding: 10px;
          text-align: left;
      }
      th {
          background-color: rgba(108, 196, 226, 0.73);
      }
      td {
          background-color: #fff;
      }
  body
    div.container
        h1 Appointments
        table
            thead
                tr
                    th Appointment ID
                    th Description
                    th Appointment Date 
                    th Start Time 
                    th End Time 
                    th Pet Owner ID
                    th Pet Nurturer ID
            tbody
                for item in data
                    tr
                        td #{item.AppointmentId}
                        td #{item.AppointmentType} 
                        td #{item.AppointmentDate} 
                        td #{item.StartTime} 
                        td #{item.EndTime} 
                        td 
                            a(href='/single-owner/' + item.PetOwnerId) #{item.PetOwnerId}
                        td 
                            a(href='/single-nurturer/' + item.PetNurturerId) #{item.PetNurturerId}